



/*************************************
        Static Banner css
*************************************/
.staticbanner_wrap{background: url("https://i.ibb.co/hDMTPsz/slider2.jpg") no-repeat top; background-size: cover; padding: 90px 0 60px 0; margin-top: -34px;}
.banner_wrap{margin-top: 18px;}
.banner_wrap .title{margin-bottom: 40px;}
.banner_wrap .title h1{color: #fff; font-size: 50px; text-transform: uppercase;}
.banner_wrap .title h1 span{color: #fff; font-weight: normal; font-family: 'Questrial', sans-serif; font-size: 28px;}
.banner_wrap .title:before{left: 0; margin-left:0;}
.bannerText{color: #fff; font-size: 18px; font-family: 'Questrial', sans-serif;}
.banner_col {margin-top: 50px;
    max-width: 620px;
}
.banner_col .readmore a{font-size: 16px; padding: 18px 30px;}
.banner_col .readmore a:hover{background: #fff; color: #000;}
.bannerform .input-group{margin-top: 8px;}
.bannerform .input-group .form-control{border-radius: 0; height: 38px; border: none; font-size: 14px;}
.bannerform textarea.form-control{height: 100px !important;}
.contact_form h1{text-transform: none !important; font-size: 30px !important;}
.bannerform .sub{box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    background: #e784a2;
    font-weight: bold;
    padding: 14px 30px; border: none;
    display: inline-block;}
.bannerform .sub:hover{background: #fff; color: #000;}    

.bannerform .col-lg-6:nth-child(1){padding-right: 5px;}
.bannerform .col-lg-6:nth-child(2){padding-left: 5px;}
.bannerform .col-lg-6:nth-child(3){padding-right: 5px;}
.bannerform .col-lg-6:nth-child(4){padding-left: 5px;}
.bannerform .sub:focus{outline: none !important;}
.staticbanner_wrap .contact_form {
    background: rgba(0, 0, 0, 0.8);
    padding: 40px;
    max-width: none;
    border: 1px solid #fff;}

/*********************************************
    Slider Video wrap css
*********************************************/
.video{margin-top: -34px;}
.videoWrp{background:none !important; position:relative; padding:0; height:600px;}
.hero-wrapper{height:600px; min-width: 100%; position: absolute; top:0px; left:0; width:100%;}
.video{position:relative;}
.hero-wrapper:before {content: ''; position: absolute; top:0; width: 100%; height: 100%; background: rgba(0,0,0,0.5);}
.hero-image {width: 100%; height: 100%; overflow: hidden; z-index: -1; top: 0; background-position: center center; background-size: cover;}
.hero-image #bgvid { display: block; min-height: 100%; min-width: 100%; max-width: inherit;}
.videoslider{position:absolute; top:200px; left:0; width:100%; z-index:1000; text-align: center;}
.videoslider h1{color: #fff; font-size: 72px; font-weight: bold; text-transform: uppercase;}
.videoslider p{font-size: 28px; color: #fff; letter-spacing: 4px;}

.practicearea_sec .practice_box{padding: 0; overflow: hidden;}
.practice_section{padding: 20px;}

.indexblog02{padding-bottom: 0;}

/*********************************************
    Expert css
*********************************************/
.expert-wrap{padding: 70px 0;}
.team_content{
    text-align: center;
    position: relative;
    z-index: 2;
    margin: -25px 20px 5px;
    padding: 18px 0 22px;
    background-color: #fff;
    border-bottom: 5px solid transparent;
    box-shadow: 0 0 12px 0 rgba(32,46,60,.06);
    -webkit-transition: .5s cubic-bezier(.3,.57,.55,1);
    transition: .5s cubic-bezier(.3,.57,.55,1);}
.team_content h5{margin-bottom: 0px;}
.team_content h5 a{font-size: 18px;
    line-height: 26px; text-decoration: none; color: #000;
    }
.teamImg{overflow: hidden; position: relative;}
.teamImg img{width: 100%; -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;}

.teamImg:hover .social-icons {
    opacity: 1;
    left: 0;
}


.innerExpert{background: #f9f9f9;}


/*************************************
        Switcher css
*************************************/
#style-switcher {
    background: #fff;
    border-radius: 0 0 3px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    left: 0;
    position: fixed;
    top: 168px;
    width: 220px;
    z-index: 9999;
}
#style-switcher div {
    padding: 0px 10px;
}
#style-switcher h2 {
    color: #333;
    font-family: montserrat, sans-serif;
    font-size: 14px;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
}
#style-switcher h2 a {
    background: #a7a7a7;
    display: block;
    height: 50px;
    position: absolute;
    right: -50px;
    top: 0;
    width: 50px;
}
#style-switcher h2 a i {
    color: #fff;
    font-size: 26px;
    left: 12px;
    position: absolute;
    top: 12px;
}
.colors {
    padding-left: 7px;
}
.colors {
    list-style: none;
    margin: 0px 0px 10px 0px;
    overflow: hidden;
}
.colors li {
    float: left;
}
.colors li a {
    border-radius: 100px;
    cursor: pointer;
    display: block;
    height: 35px;
    margin: 6px;
    width: 35px;
}
.layout-style select {
    width: 100%;
    padding: 5px;
    border: none;
    margin: 0 0 0 -5px;
    color: #fff;
    cursor: pointer;
}
#reset {
    margin: 0 0 15px 2px;
}
#reset a {
    color: #fff;
    font-size: 12px;
}
.brown {
    background: #e784a2;
}
.blue {
    background: #0891d7;
}
.red {
    background: #d21515;
}
.orange {
    background: #d27b15;
}
.yellow {
    background: #e5c51a;
}
.nvblue {
    background: #343db9;
}
.green {
    background: #36b119;
}
.pink {
    background: #d814d2;
}

.colors li a.active {
    box-shadow: 0 0 0px 2px #fff;
}
.icon-2x {
    color: #fff;
    font-size: 22px;
    line-height: 30px;
}

@media only screen and (max-width: 768px) {
#style-switcher {
    display: none;
}
}



.inner_heading{background: url("https://i.ibb.co/cJyj9fh/slider.jpg") no-repeat top; background-size: cover; padding:100px 0 30px 0; text-align: center;}
.inner_heading h1{color: #fff;}
.page_content{padding:60px 0;}
.page_content .serviceImg img{width: 100%;}
.page_content .service_box{margin: 0; padding: 0;}
.page_content .service_box > div{margin: 30px 0;}
.serImg{margin-bottom: 30px;}
.galley_inner .row > div{margin: 15px 0;}
.galley_inner{text-align: center;}
.testi_list{list-style: none;}
.testi_list li{margin: 36px 0;}
.testi_list .testimonials_sec{box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);}


.portfolio-overley {z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.galleryImg img{width: 100%;}
.gallery-wrap .galleryImg:hover .portfolio-overley, .galley_inner .galleryImg:hover .portfolio-overley {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.gallery-wrap .content, .galley_inner .content { z-index: 1000;
    position: absolute;
    top:50%;
    left:0;
    width:100%;
}
.gallery-wrap .content .image-link, .galley_inner .content .image-link{
    position:absolute;
    left:50%;
    top: 50%;
    width:50px;
    height:50px;
    color:#ffffff;
    line-height:50px;
    background:#e782a0;
    display:block;
    font-size:16px;
    z-index:1;
    text-align:center;
    margin-left: -25px;
    margin-top: -25px;
    border-radius: 100%;

}




/*****: Media Quries :*****/

@media screen and (max-width: 1200px){
#counter{margin-top: 40px;}
	.header_phone a{font-size: 22px;}
	.header_phone{padding-left: 35px; margin-right: 25px;}
.law-wrap .title h1{font-size: 32px;}
.blog-detail h3 a{font-size: 20px;}
.contact_form{padding: 20px;}
.contact_info{padding:30px;}
.contact_info:after{bottom: -100px; right: -220px;}

    .slider_info .sliderText{font-size: 50px;}
.navbar li{padding: 0px 12px;}
.navbar-light .navbar-nav .nav-link{font-size: 14px; padding: 0px 8px;}
.view_map{right: 50px;}
.slider-wrap{padding: 220px 0 180px 0;}
.slidertext1, .slidertext2, .slidertext3, .slidertext4{margin-left: 60px !important;}
.about-wrap .title h1{font-size: 30px; line-height: 40px;}
}

@media screen and (max-width: 990px){
    .sidebar{margin: 30px;}
	.blog-pagination{margin-bottom: 40px;}
    .expert-wrap .row>div{margin: 15px 0;}
    .teamImg img{width: 100%;}
.navbar-toggler{padding: 4px 10px;}
    .sticky{display: none;}
    .inner_heading{padding: 30px 0;}
    .page_content .service_box{margin: 0 auto; padding: 0;}
    .staticbanner_wrap{margin-top: 0; padding: 60px 0;}
    .banner_col{margin-top: 0; max-width: inherit;}
    .video{margin-top: 0;}
    .service-wrap{padding: 60px 0 20px 0;}
    .videoslider{top: auto;}
    .videoslider h1{font-size: 50px;}
    .appointment-wrap{text-align: center;}
    .blogImg img{width: 100%;}

    .blog_list li{ margin-bottom:40px;}
    .videoWrp, .hero-wrapper{height: 450px;}
    .staticbanner_wrap .contact_form{padding: 20px;}
    .staticbanner_wrap .contact_form{margin-top: 40px;}
.service_box{padding: 28px; margin-bottom: 0;}
.service-wrap h3 a{font-size: 20px;}
.appointment-wrap .readmore{margin-top: 15px;}
	.serviceImg img{width: 100%;}
.service-wrap h3{margin-bottom:50px; font-size: 24px;}
	.service-wrap h3 span{display: inline-block;}
    .innerHeading-wrap{margin-top: 0; padding: 40px 0;}
    .quote-btn a{display: inline-block; font-size: 14px; padding: 14px 24px;}
    .header-wrap .atlanta_logo{text-align: left;}
    .tp-banner{margin-top: 0;}
    .header_info{float: none;}
    .law-wrap:before{display: none;}
.offset-1{margin-left: 0;}
    .contact_info:after{display: none;}
.copyright-wrap, .credits{text-align: center;}
    .contact-wrap:after{display: none;}
    .contact-wrap:after, .contact-wrap:before{width: 100%;}
     .contact-wrap:before{height: 50%;}

    .law-wrap .offset-6{margin-left: 0;}
    .aboutImg{text-align: center; margin-top: 30px;}
.header-wrap .navbar{float: none;}
.advice-wrap p{padding: 0;}
.counterbox{margin: 15px 0;}
.navbar-toggler{background: #fff;}
.navbar-light .navbar-nav .nav-link{color: #fff; padding: 10px 16px;}
.navbar-light .navbar-nav .nav-link:hover{background: #000; color: #fff !important;}
.navbar-light .navbar-nav .active>.nav-link{background: #000; color: #fff;}
.footer-wrap .credits{margin-top: 10px; text-align: center;}
.header_logo{text-align: center;}
.header-wrap{position: static; background: #56225e; padding: 15px 0;}
.slider-wrap{padding: 120px 0 80px 0; height: 450px;}
.slider_info .sliderText{line-height: 55px;}
	.sinceWrp{text-align: center;}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{border: none;}
.navbar-light .navbar-nav .nav-link{border: none;}
.navbar-light .navbar-nav .active>.nav-link{background: #bd935c;}
.navigationWrp{padding: 0;}
.header_info{text-align: center; border-top: 1px solid #ddd;
    margin-top: 14px;
    padding-top: 15px;
}
	.services-wrap .laptopImg{width: auto;}
.navbar-collapse.show {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.newsletter-wrap{text-align: center;}
.copyright-wrap{text-align: center;}
.about-wrap h3{font-size: 40px;}
.navbar-collapse {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 100%;
    width: 60%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: rgba(0,0,0,0.8);
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    z-index: 10000;
}
.navbar-nav {
    clear: both;
}
.navigationWrp .collapse:not(.show){display: inline-block;}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 14px;
    z-index: 1000;
    font-weight: 400;
}
.navbar-toggler {
    position: absolute;
    top: 13px;
    right: 20px;
    background: #fff;
    display: block;
}
.header_phone{margin-top: 0;}
.close-toggler {
    background: none;
    color: #fff;
    padding: 5px;
    border: none;
    margin-top: 10px;
    font-size: 24px;
    float: right;
    display: block;
}
.navbar-nav > li{display: block;}
.navbar{text-align: left;}
.navbar-light .navbar-nav .nav-link:hover{background: #e784a2; color: #fff;}
.navbar{margin: 0;}
.header-wrap .conInfo span{text-align: left;}
.about_box{margin-left: 0; padding: 0 30px;}
.navbar-nav>li>a+i{
    display: block;
    position: absolute;
    right: 15px;
    top: 7px;
    font-size: 24px;
    cursor: pointer;
    color: #0b3c5d;
    background: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}	
.navbar-nav > li > ul {width: 100%; position: static; display: none; margin-left: 0; opacity: 1; visibility: visible;}
	.sidebar-item{margin-bottom:50px;}	

.blog_sec {
    margin-bottom: 40px;
}	

.blog_list li .blog_sec{height: 100%;}	

}

@media screen and (max-width: 767px){
    .videoslider h1{font-size: 34px}
    .videoslider p{font-size: 24px;}
    .videoWrp, .hero-wrapper{height: 300px;}
.footer_icon{text-align: center;}
    .blog_list .blog-detail{padding: 20px;}
    .navbar li{padding: 0;}
    .social-media, .topbar-wrap{text-align: center;}
    .header_info{display: inline-block; text-align: left;}
    .header_info li{display: block; margin: 20px 0; padding: 0; border: none;}
    .header_info{border: none;}
    .atlanta_logo{text-align: left !important; margin-right: 76px;}
    .advice-wrap .title h1{font-size: 32px;}
    .advice-wrap .phonewrp a{font-size: 36px;}
    .advice-wrap .phonewrp:before{top: 0;}
	.header-wrap{text-align: center;}
	.contact-list{position: static; margin: 0 auto 50px auto;}
	.blog_list .col-lg-5, .blog_list .col-md-5{padding-right: 15px;}
	.blog_list .col-lg-7, .blog_list .col-md-7{padding-left: 15px;}
    .work-wrap .title p{font-size: 16px;}
    .work-wrap .title p:before, .work-wrap .title p:after{display: none;}
    .title h1{font-size: 4rem;}
	.testi_list li{margin-bottom: 45px;}
	.contact_form{margin-bottom: 30px;}
    .media_logo{margin-top: 30px;}
    .medialinker_img img{width: 100%;}
    .work-wrap .readmore a{font-size: 18px; padding: 12px 30px;}
    .slider_info .sliderText{font-size: 22px; line-height: 30px;}
    .sinceWrp{font-size: 18px; color: #000;}
    .copyright-content p{text-align: center;}
    .credit{text-align: center;}
    .readmore a{font-size: 14px; padding: 14px 24px;}
    .newsletter-wrap .form-control {
    font-size: 14px;
    padding: 34px 22px 34px 65px;
}

.newsletter-wrap .form_icon {font-size: 28px; margin-top: -13px;}
    .newsletter-wrap{padding: 35px 15px;}
	.hourswrp, .footer-links{margin-bottom: 30px;}
	.footer-wrap h3{margin-bottom: 15px;}
}




@media screen and (max-width: 480px){
    .videoslider h1{font-size: 24px;}
    .banner_wrap .title h1{font-size: 4rem;}
    .videoslider p{font-size: 16px;}
    .videoWrp, .hero-wrapper{height: 200px;}
.client_box{display: block;}
    .advice-wrap .phonewrp:before{left: 50%; margin-left: -31px;}
    .advice-wrap .phonewrp{padding-left: 0; padding-top: 80px;}
    .page-navigation .page-go-link, .page-navigation .page-go {margin-left: auto; margin-right: auto;}
.newsletter-wrap form input[type="submit"] {padding: 0 16px; font-size: 14px;}
.newsletter-wrap .form_icon {font-size: 22px; margin-top: -10px;}
.newsletter-wrap .form-control {padding: 32px 20px 32px 56px; font-size: 12px;}
.maprwp iframe{height: 200px;}
.contact-info-icon{margin: 30px auto;}
.single-contact-info{display: block; text-align: center;}
.contact-info-text{margin: 30px 0;}
    .about-wrap h3{font-size: 20px;}
    .header-wrap{text-align: left;}
	.footer_links{border: none;}
	.footer_links li{display: block; text-align: left; border-bottom: 1px solid #3d5565; padding: 5px 0;}
.footer_links li a{font-weight: normal;}
.footer_links li:first-child{border-top: 1px solid #3d5565;}
.footer_links{margin-top: 20px;}
.testimonial-wrap .owl-nav{position: static; margin-top: 20px; text-align: center;}
.header_logo{padding-right: 80px;}
.about-wrap .title h1{font-size: 2rem; line-height: 26px;}
.title p{letter-spacing: 1px;}
.title p:before, .title p:after{display: none !important;}
.contact-list li .icon img{width: 30px;}
.contact-list p{font-size: 14px;}
.law-wrap .title h1{font-size: 20px;}
.contact-wrap:before{height: 56%;}
.newsletter-wrap .title h1{font-size: 22px;}
.newsletter-wrap .title h1 span{font-size: 18px;}
.contact-wrap .title h1{font-size: 22px;}
.blog-detail p{font-size: 14px;}
.lawflex .law_box{font-size: 20px;}
.contact_info{padding: 20px !important;}
.contact_box{margin-bottom: 8px;}
.emailtext{font-size: 15px !important; font-weight: normal;}
.title h1{font-size: 26px;}
.title p{font-size: 14px;}
.blog_info{padding: 20px;}
.blog_List span{padding-right: 12px;}
.blog-wrap h3{line-height: 28px; font-size: 20px;}
.slider-wrap{padding: 80px 0;}
.slider_info .sliderText{font-size: 16px; line-height: 20px;}
.copyright-wrap .footer_links li{border-bottom: 1px solid #d0d0d0;}
.copyright-wrap .footer_links li:first-child{border-top: none}
.copyright-wrap .footer_links li:last-child{border-bottom: none}
}

/* *********************************************************** */



.tp-banner-container {
    position: relative;
    z-index: 1;
    padding: 0;
    width: 100%;
}
.tp-banner {
    position: relative;
    width: 100%;
}
.tp-caption {
    line-height:normal !important
}
.tp-caption a {
    color: inherit !important;
}
.tp-bullets.simplebullets.round .bullet {
    border: 3px #fff solid;
    border-radius: 50%;
    background-image: none !important;
}

.main-title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 70px;
}







/* *********************************************************** */



body { 
    background-repeat: no-repeat;
    background-image: url("https://i.ibb.co/cJyj9fh/slider.jpg");
    opacity: 1;
    background-position: center center;
    background-size: cover;
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    max-width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: rgba(240, 195, 190, 1);
}

/* body > div.service-wrap {
    width: 100%;
    padding: 80px 0;
    margin: 3em 0;
    background-size: cover;
    align-items: center;
    position: relative;
} */


/* Welcome To */
h1.large-title {
    display:flex;
    align-items: stretch;
    justify-content: flex-start;
    fon-size: 6rem;
    font-weight: 600;
    padding: .5em 0 .5em 6em
}

/* Beauty Salon */
h1.large-title:nth-child(2){
    padding: .3em 0 .3em 5em;
    font-size: 4rem;
}

/* Experience Beauty Beyond */
p.large-title {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

/* Spanish Version of Experience Beauty */
p.large-title:nth-child(2) {
    text-align: center;
    opacity:.5;
}

body > div.tp-banner-container {
    margin: 2em;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

/*Contact Us Button */
button.btn.btn-primary.btn-outline-dark {
    width: 8em;
    margin: 0 0 0 20em;
    position: relative;
}



div.row {
    text-align: center;
    margin: 1em 4em 4em 1em;
    box-shadow: 0 0 10px rgba(100, 100, 100, 0.15);
}


div.salon-hours {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1em 4em 4em 1em;
    padding: 10px;
}

/* Hours of Operation Table */
table, th, td {
    border: 0;
    font-size: 1rem;
}

/* Hours of Operation */
div.title > h1 {
    font-size: 1rem;
}

div:nth-child(1) > ul {
    font-size: 1rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

div.col-lg-12.col-md-4 > h3 {
    font-size: 3rem;
}

div.col-lg-3.col-md-4.offset-1 > div > ul {
    display:flex;
    justify-content: center;
    align-items: center;
}

/* div.footer-wrap > div > div > div {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
} */


div.col-lg-3.col-md-10 {
    display: flex;
}

div:nth-child(2) > a > img {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
/* Services top Banner */
.service-wrap {
    background-image: url("https://www.medialinkers.net/demo/envato/saloon/publish/images/service-bg.jpg");
    background-color: initial;
    height: 75%;
    opacity: .85;
}

.contact-and-footer {
    display: flex;
    flex-direction: row; /* Arrange components side by side */
    gap: 3;
}