{% extends "base.html" %}
{% block title %} About {% endblock %}
{% block body %}

<!-- About Start -->
<section class="about-wrap" id="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about_box">
                    <div class="title">
                        <h1 class="about">About Us</h1>
                        <h3>Excellent Results, <span>Highly Recommended,</span> Hair and Beauty Salon</h3>
                    </div>
                    <br>
                    <figure class="text-about">
                        <blockquote class="blockquote">
                            <p class="mb-2">
                                "A wonderful, friendly operation. Nothing is too much trouble, everything is high quality..."
                            </p>
                        </blockquote>
                    </figure>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <img class="img-fluid rounded" src="https://www.medialinkers.net/demo/envato/saloon/publish/images/aboutImg.png" alt="Salon Image">
            </div>
        </div>
    </div>
</section>
<!-- About End -->

{% endblock %}
