{% extends "base.html" %}

  {% block title %} About {% endblock %}

{% block body %}
<!-- About Start -->
<div class="about-wrap" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about_box">
                    <div class="title">
                        <h1>About Us</h1>
                        <h3>Excellent Results, <span>Highly Recommended,</span> Hair and Beauty Salon</h3>
                    </div>
                    <br>
                    <p>A wonderful, friendly operation.  Nothing is too much trouble, everything is high quality... </p>
                    <div class="readmore"><a href="/about">Read More</a></div>
                </div>
            </div>
            <div class="col-lg-4">
                <a href="https://imgbb.com/"><img src="https://i.ibb.co/ByjHdhT/aboutImg.png" alt="aboutImg" border="0" /></a>            </div>
        </div>
    </div>
    <!-- About End -->
{% endblock %}