{% extends "base.html" %}

  {% block title %} Home {% endblock %}

{% block body %}
<div class="about-wrap" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about_box">
                    <div class="title">
                        <p>About Us</p>
                        <h1>Excellent Results, <span>Highly Recommended,</span> Hair and Beauty Salon</h1>
                    </div>
                    <p>A wonderful, friendly operation.  Nothing is too much trouble, everything is high quality... </p>
                    <div class="readmore"><a href="/about">Read More</a></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="aboutImg"><img alt="" src="images/aboutImg.png"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}