{% extends "base.html" %}
{% block title %} Beauty Salon {% endblock %}
{% block body %}
<!-- Welcome Start -->

<div class="tp-banner-container">
    <div class="tp-banner">
        <ul class="list-unstyled">
            <li>
                <div class="center-content">
                    <h1 class="large-title"> Welcome To </h1>
                    <h1 class="large-title"><span>Beauty Salon</span></h1>
                    <br>
                    <p class="large-title">Experience Beauty Beyond Imagination</p>
                    <br>
                    <div class="row">
                        <a href="/appointments">
                            <button type="submit" class="btn btn-primary btn-outline-primary">Book Appointment!</button>
                        </a>
                        <br>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- Welcome End -->
<!-- Blockquotes start-->
<figure class="text-end">
    <blockquote class="blockquote">
        <p class="mb-0">"Visiting this salon is like a breath of fresh air for my self-esteem. The talented stylists here make me feel beautiful inside and out. I leave every appointment with a boost of confidence and a smile on my face." </p>
    </blockquote>
    <figcaption class="blockquote-footer">
        Hugh Janis<cite title="Source Title"><br>Valued Client</cite>
    </figcaption>
</figure>
<!-- Blockquote -->
<!-- social-icons -->
<div class="col-lg-3 col-md-6">
    <div class="experts">
        <ul class="social-icons list-inline">
            <li class="social-facebook"> <a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> </li>
            <li class="social-twitter"> <a href=""><i class="fab fa-twitter" aria-hidden="true"></i></a> </li>
            <li class="social-linkedin"> <a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a> </li>
            <li class="social-googleplus"> <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a> </li>
        </ul>
    </div>
</div>
{% endblock %}