{% extends "base.html" %}
{% block title %} Beauty Salon {% endblock %}

{% block body %}
<!-- Welcome Section -->
<section class="welcome-section text-center">
    <div class="container mb-4">
        <h1 class="large-title">Welcome To</h1>
        <h1 class="large-title"><span>Beauty Salon</span></h1>
        <p class="lead">Experience Beauty Beyond Imagination</p>
        <a href="/appointments" class="btn btn-lg btn-info btn-outline-dark mt-3">Book Appointment</a>
    </div>
</section>

<!-- Testimonial Section -->
<section class="testimonial-section">
    <div class="container text-end">
        <figure>
            <blockquote class="blockquote">
                <p class="mb-0">
                    "Visiting this salon is like a breath of fresh air for my self-esteem. 
                    The talented stylists here make me feel beautiful inside and out. 
                    I leave every appointment with a boost of confidence and a smile on my face."
                </p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Hugh Janis <cite title="Source Title"><br>Valued Client</cite>
            </figcaption>
        </figure>
    </div>
</section>

<!-- Social Icons -->
<section class="social-icons-section text-center">
    <div class="container">
        <ul class="list-inline social-icons">
            <li class="list-inline-item">
                <a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="social-link"><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
            </li>
        </ul>
    </div>
</section>
{% endblock %}
