{% extends "base.html" %}

    {% block title %} Services {% endblock %}

{% block body %}
    <!-- Service Start -->
    <div class="service-wrap">
        <div class="container">
            <div class="title">
                <h1>Our Services</h1>
            </div>
            <div class="service_box">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="serviceImg"><img alt="" src="/serviceimg01.png"></div>
                        <h3><a href="services_details.html">HairCut <span>Styles</span></a></h3>
                        <p>Needing a trim? Come experience one of our experienced hair stylist trim and cut your hair
                            and achieve the perfect look and length. Just book an appointment with one of our hair stylists specialized
                            in cuts.</p>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="serviceImg"><img alt="" src="/serviceimg02.jpg"></div>
                        <h3><a href="services_details.html">Perfect <span>Hairstyles</span></a></h3>
                        <p>Need a different look? If you want to change the look of your hair without needing any
                            of your hair cut we can help you with that. Choose between a variety of different hair styles and our experienced hair stylists will
                            make that style a reality. If you have a style in mind, we can make it happen. Try our
                        hair masks and finally have that healhty, full, and lush head of hair you always wanted.</p>
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="serviceImg"><img alt="" src="/serviceimg03.jpg"></div>
                        <h3><a href="services_details.html">Change <span>Coloring</span></a></h3>
                        <P>If you have been wanting a change in color in your hair setup an appointment for one of our
                            experienced hair stylists to change the color of your hair. We have a variety of different
                            colors to choose from and we can color match your hair to the color you want.
                            Wether its a touch up, a hair

                        </P>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <!-- Services End -->

        <!-- Hours Start -->
        <div class="row">
            <h3>Hours of Operation</h3>
            <div class="salon-hours">
                <table style="width:100%">
                    <tr>
                        <th>Monday:</th>
                        <th>Tuesday:</th>
                        <th>Wednesday:</th>
                        <th>Thursday:</th>
                        <th>Friday:</th>
                        <th>Saturday:</th>
                        <th>Sunday:</th>
                    </tr>
                    <tr>
                        <td>Closed</td>
                        <td>10:00am - 8:00pm</td>
                        <td>10:00am - 8:00pm</td>
                        <td>10:00am - 8:00pm</td>
                        <td>10:00am - 8:00pm</td>
                        <td>10:00am - 8:00pm</td>
                        <td>Closed</td>
                    </tr>
                </table>
            </div>
        </div>
    <!-- Hours End -->
{% endblock %}