{% extends "base.html" %}
{% block title %} Services {% endblock %}
{% block body %}
<br>
<!-- Service Start -->
<div id="services" class="service-wrap">
    <div class="container">
        <div class="title">
            <h1>Our Services</h1>
            <br>
        </div>
        <div class="service_box">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="serviceImg"><img src="https://i.ibb.co/rxGxb6D/serviceimg01.png" alt="serviceimg01"></div>
                    <h3 class="serviceimg">HairCut Styles</h3>
                    <p>Needing a trim? Come experience one of our experienced hair stylist trim and cut your hair
                        and achieve the perfect look and length. Just book an appointment with one of our hair stylists specialized
                        in cuts.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="serviceImg"><img src="https://i.ibb.co/HXmsspL/serviceimg02.jpg" alt="serviceimg02" style="width:251px;height:360px;size:inherit;"></div>
                    <h3 class="serviceimg">Change Coloring</h3>
                    <p>If you have been wanting a change in color in your hair setup an appointment for one of our
                        experienced hair stylists to change the color of your hair. We have a variety of different
                        colors to choose from and we can color match your hair to the color you want.
                        Wether its a touch up, highlights, or complete new look we will get you there. 
                    </p>
                    </p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="serviceImg"><img src="https://i.ibb.co/PYn9LTx/client1.jpg" alt="serviceimg03" style="width:351px;height:251px;"`></div>
                    <h3 class="serviceimg">Perfect Hairstyles</h3>
                    <P>Need a different look? If you want to change the look of your hair without needing any
                        of your hair cut we can help you with that. Choose between a variety of different hair styles and our experienced hair stylists will
                        make that style a reality. If you have a style in mind, we can make it happen. Try our
                        hair masks and finally have that healhty, full, and lush head of hair you always wanted.
                    </P>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<!-- Services End -->
<br>
<br>
<br>
{% endblock %}